.App {
    text-align: center;
    font-family: 'Inter', sans-serif;
  }
  
  
  .head {
    position: relative;
    left: -7.7%;
    margin-bottom: 0.4%;
  }
  .head1 {
    position: relative;
  
    left: -9.7%;
    margin-bottom: 0.4%;
    
  }
  
  
  .btn-primary {
    width: 28.2%;
    background-color: #5405f3 !important;
  }
  
  
  .txtBox {
    width: 28%;
    border-radius: 5px;
    border: 1px solid rgb(218, 202, 202);
    margin-bottom: 1%;
    
  }

  .opTxt {
    width: 10%;
    border-radius: 1px;
    border: 1px solid rgb(218, 202, 202);
    margin-bottom: 1%;
    margin-top: 1%;
    position: relative;
    left: 1px;
    background-color: rgba(224, 228, 231, 0.8);
  }

  .txtBox2{
    width: 18%;
    border-radius: 1px;
    border: 1px solid rgb(218, 202, 202);
    margin-bottom: 1%;
  }
  
  span{
    color: rgba(174, 178, 182, 0.8);
  }

  .para {
    color: rgba(90, 93, 96, 0.8);
}

.btn {
    height: 50px;
}
.stepper{
  margin-top: 8%;
}
  