.App {
    text-align: center;
    font-family: 'Inter', sans-serif;
  }
  
  
  .head {
    position: relative;
    left: -7.7%;
    margin-bottom: 0.4%;
  }
  .head1 {
    position: relative;
  
    left: -9.7%;
    margin-bottom: 0.4%;
    
  }
  
  
  .btn-primary {
    width: 28.2%;
    background-color: #5405f3 !important;
  }
  
  .heading {
    margin-top: 20%;
  }
  


 
  .myself {
    position: relative;
    width: 12%;
    height: 12%;
    margin-left: 10px;
    margin-top: 10px;
  }

 
  .card {
      height: 210px;
      width: 220px;
      padding: 10px;
      margin: 10px;
        border-radius: 5px;
  }

    .card:hover {
        box-shadow: 0 4px 8px 0 rgba(52, 14, 203, 0.2), 0 6px 20px 0 rgba(52, 14, 203, 0.2);
        border: 0.5px solid #5405f3;
    }

    .card :focus {
        box-shadow: 0 4px 8px 0 rgba(52, 14, 203, 0.2), 0 6px 20px 0 rgba(52, 14, 203, 0.2);
        border: 0.5px solid #5405f3;
    }

    .para {
        color: rgba(90, 93, 96, 0.8);
    }

    .btn {
        height: 50px;
    }

    .stepper{
        margin-top: 7%;
    }

    .bottom {
      position: relative;
      top: -37px;
    }
  





  
  